{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/game_sheet.css' %}">
    <title>GameSekai - {{game.name}}</title>
</head>
<body>

    <header>
        <div class="header-wallpaper">
            <img src="{{game.wallpaper}}">
        </div>
        <div class="game-cover">
            <img src="{{game.cover}}">
            <h1>{{game.name}}</h1>
        </div>
    </header>

    <section class="game-details">
        <div class="game-details-grid">
            <h2>Género: {{game.genre}}</h2>
            <h2>Platafomas: {{game.platform}}</h2>
            <h2>Desarrollado por: {{game.developer}}</h2>
            <h2>Fecha de salida: {{game.date_release}}</h2>
            <h2>Valoración: {{game.val}}</h2>
        </div>
    </section>
    
</body>
</html>