@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@font-face {
  font-family: Macondo;
  src: url("../fonts/Macondo-Regular.ttf");
}

body {
  display: grid;
  font-family: Macondo;
  background-color: #1d1d1d;
}

header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header-wallpaper {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 75vh;
  background-image: url("../images/bioshock_infinite.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-cover {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10%;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  padding: 1rem 6rem 2rem 6rem;
  border-radius: 5%;
}

.game-cover img {
  max-width: 15rem;
  border-radius: 20%;
}

.game-cover h1 {
  margin-bottom: 0;
  color: whitesmoke;
}

.game-details {
  display: grid;
  width: 75%;
  justify-self: center;
  position: relative;
  top: -3.5rem;
  border-radius: 1rem;
  background-color: bisque;
}

.game-details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 1rem 2rem;
}
