@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face { 
	font-family: Macondo;
	src: url("../fonts/Macondo-Regular.ttf");
}

body{
    display: grid;
    font-family: Macondo;
    background-color: #1d1d1d;
}

.header-wallpaper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem 1rem 1rem;

    img {
        max-width: 70%;
    }
}

#games_section{
    justify-self: center;
    padding: 3rem 2rem;
    max-width: 1900px;

    .gamelist{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        row-gap: 5rem;
    
        &-game{
            display: flex;

            a {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                &:hover {
                    .gamelist-game-icon {
                        top: -15%;
                    }
                }
            }

            &-icon {
                transition: all 0.25s;
                max-width: 7rem;
                position: absolute;
                top: 20%;
            }

            &-cover {
                position: relative;
                max-width: 70%;
                border-radius: 20%;
            }
    
            h2{
                color: #eee7fb;
                margin: 1rem 0 0 0;
                text-align: center;
                padding: 0 1rem;
            }
        }
    }
}



